services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - 8000:8000 
  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 33061:33061

volumes:
 ta23bdata: